{:highlights [{:id #uuid "6623de9e-2f6e-4a59-9254-3f964d3855af",
               :page 8,
               :position {:bounding {:x1 138.03125,
                                     :y1 150.890625,
                                     :x2 373.4095153808594,
                                     :y2 186.890625,
                                     :width 951.9999999999999,
                                     :height 673.1315872619938},
                          :rects ({:x1 138.03125,
                                   :y1 150.890625,
                                   :x2 373.4095153808594,
                                   :y2 186.890625,
                                   :width 951.9999999999999,
                                   :height 673.1315872619938}),
                          :page 8},
               :content {:text "结构（Structure）"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
