{:highlights [{:id #uuid "66239ec1-db4e-420f-8fe2-29ff2a261b00",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 115.6484375,
                                     :x2 729,
                                     :y2 1040.90625,
                                     :width 728.9999999999999,
                                     :height 515.4547553718419},
                          :rects ({:x1 105.703125,
                                   :y1 115.6484375,
                                   :x2 285.9364013671875,
                                   :y2 144.6484375,
                                   :width 728.9999999999999,
                                   :height 515.4547553718419}
                                  {:x1 497.609375,
                                   :y1 408.828125,
                                   :x2 504.6015625,
                                   :y2 425.328125,
                                   :width 728.9999999999999,
                                   :height 515.4547553718419}
                                  {:x1 0,
                                   :y1 525.453125,
                                   :x2 729,
                                   :y2 1040.90625,
                                   :width 728.9999999999999,
                                   :height 515.4547553718419}),
                          :page 8},
               :content {:text "结构（Structure）6"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
