{:highlights [{:id #uuid "6621440b-96d3-4d9a-b234-9f38b2f5e728",
               :page 8,
               :position {:bounding {:x1 146.484375,
                                     :y1 160.4375,
                                     :x2 396.2506103515625,
                                     :y2 198.4375,
                                     :width 1010.2679999999999,
                                     :height 714.3312},
                          :rects ({:x1 146.484375,
                                   :y1 160.4375,
                                   :x2 396.2506103515625,
                                   :y2 198.4375,
                                   :width 1010.2679999999999,
                                   :height 714.3312}),
                          :page 8},
               :content {:text "结构（Structure）"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
