{:highlights [{:id #uuid "66227b60-b50a-4bba-82aa-2b15d5dbcfe7",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 19.09375,
                                     :x2 363,
                                     :y2 418.375,
                                     :width 362.99999999999994,
                                     :height 204.18749999999997},
                          :rects ({:x1 30.7109375,
                                   :y1 19.09375,
                                   :x2 135.4453125,
                                   :y2 36.09375,
                                   :width 362.99999999999994,
                                   :height 204.18749999999997}
                                  {:x1 332.6328125,
                                   :y1 191.8984375,
                                   :x2 335.3671875,
                                   :y2 198.3984375,
                                   :width 362.99999999999994,
                                   :height 204.18749999999997}
                                  {:x1 0,
                                   :y1 214.1875,
                                   :x2 363,
                                   :y2 418.375,
                                   :width 362.99999999999994,
                                   :height 204.18749999999997}),
                          :page 8},
               :content {:text "结构（Structure）6"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
