{:highlights [{:id #uuid "662266eb-5ab1-49e2-9770-776d30361996",
               :page 16,
               :position {:bounding {:x1 0,
                                     :y1 19.09375,
                                     :x2 363,
                                     :y2 418.375,
                                     :width 362.99999999999994,
                                     :height 204.18749999999997},
                          :rects ({:x1 30.7109375,
                                   :y1 19.09375,
                                   :x2 135.4453125,
                                   :y2 36.09375,
                                   :width 362.99999999999994,
                                   :height 204.18749999999997}
                                  {:x1 329.953125,
                                   :y1 191.8984375,
                                   :x2 335.3096618652344,
                                   :y2 198.3984375,
                                   :width 362.99999999999994,
                                   :height 204.18749999999997}
                                  {:x1 0,
                                   :y1 214.1875,
                                   :x2 363,
                                   :y2 418.375,
                                   :width 362.99999999999994,
                                   :height 204.18749999999997}),
                          :page 16},
               :content {:text "结构（Structure）14"},
               :properties {:color "yellow"}}
              {:id #uuid "66226cec-a70b-4843-a5e7-0a7043a2bd2f",
               :page 5,
               :position {:bounding {:x1 30.7109375,
                                     :y1 19.09375,
                                     :x2 176.04681396484375,
                                     :y2 36.09375,
                                     :width 362.99999999999994,
                                     :height 204.18749999999997},
                          :rects ({:x1 30.7109375,
                                   :y1 19.09375,
                                   :x2 176.04681396484375,
                                   :y2 36.09375,
                                   :width 362.99999999999994,
                                   :height 204.18749999999997}),
                          :page 5},
               :content {:text "从封装变化角度对模式分类"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
