{:highlights [{:id #uuid "6623a1b6-5de7-4fcf-9b42-9165d50c884a",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 122.734375,
                                     :x2 772,
                                     :y2 1101.703125,
                                     :width 771.9999999999999,
                                     :height 545.8588081578353},
                          :rects ({:x1 111.9375,
                                   :y1 122.734375,
                                   :x2 302.80072021484375,
                                   :y2 153.734375,
                                   :width 771.9999999999999,
                                   :height 545.8588081578353}
                                  {:x1 526.9609375,
                                   :y1 434.0703125,
                                   :x2 534.359375,
                                   :y2 451.0703125,
                                   :width 771.9999999999999,
                                   :height 545.8588081578353}
                                  {:x1 0,
                                   :y1 555.8515625,
                                   :x2 772,
                                   :y2 1101.703125,
                                   :width 771.9999999999999,
                                   :height 545.8588081578353}),
                          :page 8},
               :content {:text "结构（Structure）6"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
