{:highlights [{:id #uuid "6563685e-9d0b-44dc-8c24-b6a0b6716ffb",
               :page 16,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 711,
                                     :y2 809.875,
                                     :width 711,
                                     :height 399.9375},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 711,
                                   :y2 16,
                                   :width 711,
                                   :height 399.9375}
                                  {:x1 27.71875,
                                   :y1 32.3125,
                                   :x2 312.0751953125,
                                   :y2 63.645843505859375,
                                   :width 711,
                                   :height 399.9375}
                                  {:x1 0,
                                   :y1 399.9375,
                                   :x2 711,
                                   :y2 399.9375,
                                   :width 711,
                                   :height 399.9375}
                                  {:x1 0,
                                   :y1 409.9375,
                                   :x2 711,
                                   :y2 809.875,
                                   :width 711,
                                   :height 399.9375}),
                          :page 16},
               :content {:text "C Program Memory Layout"},
               :properties {:color "yellow"}}],
 :extra {:page 16}}
