{:highlights [{:id #uuid "6616b5ec-d011-4de0-9977-d1fcada0105f",
               :page 1,
               :position {:bounding {:x1 163.6125030517578,
                                     :y1 1786.7125091552734,
                                     :x2 744.2369384765625,
                                     :y2 1809.9125061035156,
                                     :width 1799.9999999999998,
                                     :height 2400},
                          :rects ({:x1 163.6125030517578,
                                   :y1 1786.7125091552734,
                                   :x2 744.2369384765625,
                                   :y2 1809.9125061035156,
                                   :width 1799.9999999999998,
                                   :height 2400}
                                  {:x1 667.0750122070312,
                                   :y1 1789.9125061035156,
                                   :x2 672.25,
                                   :y2 1807.375,
                                   :width 1799.9999999999998,
                                   :height 2400}),
                          :page 1},
               :content {:text "【例2】用级联型和并联型实现以下系统，每个子系统都采用直接 II型结构"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
