{:highlights [{:id #uuid "660fe149-8d59-420d-922a-5316fd6619b7",
               :page 7,
               :position {:bounding {:x1 71.53750228881836,
                                     :y1 108.57500457763672,
                                     :x2 834.5250129699707,
                                     :y2 205.125,
                                     :width 927.9999999999999,
                                     :height 522},
                          :rects ({:x1 71.53750228881836,
                                   :y1 108.57500457763672,
                                   :x2 635.8000373840332,
                                   :y2 144.5749969482422,
                                   :width 927.9999999999999,
                                   :height 522}
                                  {:x1 666.5750007629395,
                                   :y1 108.57500457763672,
                                   :x2 834.5250129699707,
                                   :y2 144.5749969482422,
                                   :width 927.9999999999999,
                                   :height 522}
                                  {:x1 98.63750076293945,
                                   :y1 113.375,
                                   :x2 834.5250129699707,
                                   :y2 140.4375,
                                   :width 927.9999999999999,
                                   :height 522}
                                  {:x1 101.33749771118164,
                                   :y1 169.125,
                                   :x2 399.0502052307129,
                                   :y2 205.125,
                                   :width 927.9999999999999,
                                   :height 522}),
                          :page 7},
               :content {:text "例2、已知某离散LTI系统框图如下，输入为𝑥 𝑛 ，输出为𝑦 𝑛 ,求系统函数及系统差分方程"},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
