{:highlights [{:id #uuid "6616ac2f-b28a-4517-accc-0c8d8599022d",
               :page 6,
               :position {:bounding {:x1 29.049999237060547,
                                     :y1 106.8125,
                                     :x2 862.877140045166,
                                     :y2 136.41250610351562,
                                     :width 913.7777777777777,
                                     :height 514},
                          :rects ({:x1 29.049999237060547,
                                   :y1 106.8125,
                                   :x2 862.877140045166,
                                   :y2 136.41250610351562,
                                   :width 913.7777777777777,
                                   :height 514}
                                  {:x1 51.89999771118164,
                                   :y1 110.8125,
                                   :x2 337.456974029541,
                                   :y2 133.66250610351562,
                                   :width 913.7777777777777,
                                   :height 514}),
                          :page 6},
               :content {:text "【例1】设计模拟巴特沃斯带通滤波器，要求通带上下边界频率和阻带上下边带频率"},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
