{:highlights [{:id #uuid "6617e10d-5ee2-4388-b5bc-4b03dacc2160",
               :page 1,
               :position {:bounding {:x1 254.27500611543655,
                                     :y1 1935.8500061035156,
                                     :x2 541.3766601681709,
                                     :y2 1964.6500091552734,
                                     :width 1944,
                                     :height 2592},
                          :rects ({:x1 254.27500611543655,
                                   :y1 1935.8500061035156,
                                   :x2 541.3766601681709,
                                   :y2 1964.6500091552734,
                                   :width 1944,
                                   :height 2592}
                                  {:x1 310.83750611543655,
                                   :y1 1939.8500061035156,
                                   :x2 317.40000611543655,
                                   :y2 1962.0250091552734,
                                   :width 1944,
                                   :height 2592}),
                          :page 1},
               :content {:text "例1、 已知系统的差分方程为"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
