{:highlights [{:id #uuid "6615231e-63aa-4a4f-ba90-f2c1e7c5dc08",
               :page 11,
               :position {:bounding {:x1 3.953125,
                                     :y1 33.75,
                                     :x2 252.58375549316406,
                                     :y2 89.2734375,
                                     :width 308.99999999999994,
                                     :height 173.81249999999997},
                          :rects ({:x1 3.953125,
                                   :y1 33.75,
                                   :x2 252.58375549316406,
                                   :y2 48.25,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 116.859375,
                                   :y1 40.546875,
                                   :x2 123.8984375,
                                   :y2 47.953125,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 213.8203125,
                                   :y1 40.546875,
                                   :x2 220.8984375,
                                   :y2 47.953125,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 27.53125,
                                   :y1 55.390625,
                                   :x2 243.08132934570312,
                                   :y2 69.890625,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 95.140625,
                                   :y1 62.1875,
                                   :x2 101.3125,
                                   :y2 69.59375,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 199.0546875,
                                   :y1 62.1875,
                                   :x2 205.234375,
                                   :y2 69.59375,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 27.5625,
                                   :y1 74.7734375,
                                   :x2 213.0587921142578,
                                   :y2 89.2734375,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}),
                          :page 11},
               :content {:text "例1：已知通带截止频率𝒇𝒑 = 𝟓𝒌𝑯𝒛; 通带衰减𝜶𝒑 = 𝟐𝒅𝑩阻带截止频率𝒇𝒔 = 𝟏𝟐𝒌𝑯𝒛; 阻带衰减𝜶 𝒔 = 𝟑𝟎𝒅𝑩按以上技术指标设计巴特沃斯低通滤波器"},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
