{:highlights [{:id #uuid "6616779e-2edc-422d-bd41-8f1937c0e314",
               :page 8,
               :position {:bounding {:x1 21.90625,
                                     :y1 37.4140625,
                                     :x2 296.14837646484375,
                                     :y2 60.8984375,
                                     :width 308.99999999999994,
                                     :height 173.81249999999997},
                          :rects ({:x1 21.90625,
                                   :y1 37.4140625,
                                   :x2 296.14837646484375,
                                   :y2 47.9140625,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 29.1328125,
                                   :y1 50.3984375,
                                   :x2 272.00164794921875,
                                   :y2 60.8984375,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}),
                          :page 8},
               :content {:text "【例1】用双线性变换法设计数字低通滤波器，要求通带和阻带具有单调下降性，指标参数如下： 𝜔W = 0.2𝜋 𝑟𝑎𝑑, 𝛼W = 1𝑑𝐵; 𝜔= = 0.315𝜋 𝑟𝑎𝑑, 𝛼= = 15𝑑𝐵"},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
