{:highlights [{:id #uuid "66163c65-1233-4f02-95eb-b727f383cd11",
               :page 10,
               :position {:bounding {:x1 25.265625,
                                     :y1 35.7109375,
                                     :x2 299.5155944824219,
                                     :y2 60.8984375,
                                     :width 308.99999999999994,
                                     :height 173.81249999999997},
                          :rects ({:x1 25.265625,
                                   :y1 35.7109375,
                                   :x2 299.5155944824219,
                                   :y2 46.2109375,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}
                                  {:x1 29.1328125,
                                   :y1 50.3984375,
                                   :x2 272.00164794921875,
                                   :y2 60.8984375,
                                   :width 308.99999999999994,
                                   :height 173.81249999999997}),
                          :page 10},
               :content {:text "例1】用脉冲响应不变法设计数字低通滤波器，要求通带和阻带具有单调下降性，指标参数如下： 𝜔_ = 0.2𝜋 𝑟𝑎𝑑, 𝛼_ = 1𝑑𝐵; 𝜔F = 0.315𝜋 𝑟𝑎𝑑, 𝛼F = 15𝑑𝐵"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
