{:highlights [{:id #uuid "6570bcc6-b79d-4ff0-b5d3-744e5e496fda",
               :page 177,
               :position {:bounding {:x1 0,
                                     :y1 1083.953125,
                                     :x2 777.15625,
                                     :y2 2168.015625,
                                     :width 777.1653333333333,
                                     :height 1073.9599999999998},
                          :rects ({:x1 0,
                                   :y1 1083.953125,
                                   :x2 777.15625,
                                   :y2 2168.015625,
                                   :width 777.1653333333333,
                                   :height 1073.9599999999998}),
                          :page 177},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6570bd08-6f6d-40b4-ae11-8cd230cfbc7c",
               :page 178,
               :position {:bounding {:x1 0,
                                     :y1 1094.0625,
                                     :x2 777.15625,
                                     :y2 2180.953125,
                                     :width 777.1653333333333,
                                     :height 1084.0688333333333},
                          :rects ({:x1 0,
                                   :y1 1094.0625,
                                   :x2 777.15625,
                                   :y2 2180.953125,
                                   :width 777.1653333333333,
                                   :height 1084.0688333333333}),
                          :page 178},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6570bd13-6714-4559-a9b6-b50f96004321",
               :page 179,
               :position {:bounding {:x1 0,
                                     :y1 1096.890625,
                                     :x2 777.15625,
                                     :y2 2183.78125,
                                     :width 777.1653333333333,
                                     :height 1086.8993333333333},
                          :rects ({:x1 0,
                                   :y1 1096.890625,
                                   :x2 777.15625,
                                   :y2 2183.78125,
                                   :width 777.1653333333333,
                                   :height 1086.8993333333333}),
                          :page 179},
               :content {:text nil},
               :properties {:color "yellow"}}],
 :extra {:page 182}}
