{:highlights [{:id #uuid "660fec2e-cdb8-45b6-a9b3-56b1ac4b656f",
               :page 6,
               :position {:bounding {:x1 129.28749465942383,
                                     :y1 111.875,
                                     :x2 795.6173896789551,
                                     :y2 147.0749969482422,
                                     :width 913.7777777777777,
                                     :height 514},
                          :rects ({:x1 129.28749465942383,
                                   :y1 111.875,
                                   :x2 795.6173896789551,
                                   :y2 147.0749969482422,
                                   :width 913.7777777777777,
                                   :height 514}),
                          :page 6},
               :content {:text "下图为某线性时不变系统的信号流图，请解答下列各题："},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
