{:highlights [{:id #uuid "6616943f-8991-46fe-8213-c10395ac0586",
               :page 7,
               :position {:bounding {:x1 65.78750228881836,
                                     :y1 111.98750305175781,
                                     :x2 773.3876838684082,
                                     :y2 143.18751525878906,
                                     :width 927.9999999999999,
                                     :height 522},
                          :rects ({:x1 65.78750228881836,
                                   :y1 111.98750305175781,
                                   :x2 773.3876838684082,
                                   :y2 143.18751525878906,
                                   :width 927.9999999999999,
                                   :height 522}
                                  {:x1 88.98750686645508,
                                   :y1 115.98750305175781,
                                   :x2 332.5875434875488,
                                   :y2 139.18751525878906,
                                   :width 927.9999999999999,
                                   :height 522}),
                          :page 7},
               :content {:text "【例1】设计巴特沃斯高通滤波器，要求通带边界频率和阻带边带频率"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
